.pagina {
  max-width: 1304px;
  width: 100%;
  //Borrar despues
  //background-color: #0a90ef;
  height: 1000px;
  padding: 8px;
}

.title{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.edit{
  margin-left: 32px;
  height: 48px;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: inline;

  /* Dark_Gray */
  color: rgba(38, 39, 43, 0.75);
}
