.pagina {
  max-width: calc(100% - 16px);
  background-color: #FFFFFF;
  padding: 8px;
  margin: 0 auto;
  width: 100%;
}

.title{
  display: flex;
  margin-bottom: 40px;
}

.edit{
  margin-left: 32px;
  height: 48px;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: inline;

  color: rgba(38, 39, 43, 0.75);
}

.message {
  max-width: 1304px;
  width: 100%;

  /* Red_Error */
  background: #EC2E2E;
  text-align: center;
  color: white;

  opacity: 0.75;
  border-radius: 4px;
  padding: 24px 0;//solo arriba y abajo
  margin-bottom: 24px;

  h2{
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
  }
}

//Smartphones
@media screen and (min-width:360px) and (max-width:809px){

}

//ipad
@media screen and (min-width:810px) and (max-width:1023px){

}

//desktop
@media screen and (mix-width:1024px){

}

