.pagina {
  max-width: 1304px;
  width: 100%;

  margin: 0 auto;
  padding: 8px 0;
}

.title h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  /* identical to box height */

  /* Dark_Gray */
  color: rgba(38, 39, 43, 0.75);
}

.basic {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(38, 39, 43, 0.25);
  border-radius: 4px;
}

//Smartphones
@media screen and (min-width:360px) and (max-width:700px) {
  .pagina {
    width: calc(100% - 16px);
  }
}

//ipad
@media screen and (min-width:700px) and (max-width:1304px) {
  .pagina {
    width: calc(100% - 16px);
  }
}

//desktop
@media screen and (min-width:1304px) {}
