.page-container{
    max-width: 1304px;
    margin: 0 auto;
    padding: 60px 0px;
}

h1{
    font-weight: 700;
    color: rgba(38, 39, 43, 0.75);
}

p{
    font-weight: 500;
    font-size: 20px;
    color: #0A90EF;
}