<div class="page-container">
    <div class="header-container">

        <div class="title-container">
          <h1>Torneos</h1>
          <app-button [clase]="'button fill'" [title]="'Nuevo Torneo'" (onClick)="tournamentCreate()"></app-button>
        </div>

        <div class="select-container">
          <app-input-simple [nombre]="'Buscar Torneo'" [ejemplo]="'Champions League'" (KeyUp)="onKeyUpFilter($event)"></app-input-simple>
            <div class="select-filter">
                <app-select-simple [nombre]="'Filtrar Por'" [items]="Filter" (onChange)="onChangeFiltro($event)"></app-select-simple>
                <app-select-simple [nombre]="'Ordenar Por'" [items]="Order" (onChange)="onChangeOrden($event)" ></app-select-simple>
            </div>
        </div>
    </div>
    
    <div class="team-table-container">
        <app-tournament-table-row *ngFor="let element of data" [id]="element._id" [name]="element.name" [type]="element.type.name" [category]="element.category.name" [place]="element.places[0].name" [date]="element.dates.init" [status]="element.status" (onClick)="tournamentDetail($event)"> </app-tournament-table-row>
    <!--
        <app-tournament-table-row *ngFor="let element of data" [_id]="element._id" [name]="element.name" [type]="element.type.name" [category]="element.category.name" [place]="element.places_detail[0].name" [date]="element.dates" [status]="element.statuses.name" (onClick)="detail($event)"></app-tournament-table-row>
    -->
    </div>
</div>
