h1 {
    font-weight: 700;
    font-size: 32px;
}

.page-container{
    max-width: 1304px;
    margin: 0 auto;
    width: 100%;
}

.select-container, .select-filter, .title-container{
    display: flex;
}

.header-container{
    padding-top: 8px;
}

.select-container, .header-container, .title-container{
    justify-content: space-between;
}

.select-filter{
    gap: 24px;
}

.title-container{
    margin-bottom: 40px;
}

//Smartphones
@media screen and (min-width:360px) and (max-width:809px){

    .team-table-container{
        overflow-x:scroll;
    }
    .table{
        width: 1304px;
    }
    .select-filter{
        flex-direction:column;
        gap: 0px;
    }
    .select-container{
        flex-direction:column;
    }
    .buscar{
        margin-bottom: 10px;
    }
}

//ipad
@media screen and (min-width:810px) and (max-width:1023px){

  .team-table-container{
      overflow-x:scroll;
  }
  .table{
      width: 1304px;
  }
}

//desktop
@media screen and (min-width:1024px){

}
