<div class="page-container">
    <h1>Torneo: Champions league</h1>

    <p class="caption">Equipos de la categoria: Juvenil 1 - Femenil</p>

    <div class="body-tournament-data">
        <app-trainer-team-list></app-trainer-team-list>
        <div class="team-detail-container">
            <p>Informacion base del equipo</p>
            <div class="team-detail">
                <app-input-simple [nombre]="'Nombre del equipo'"></app-input-simple>
                <input type="image" src="../../../../../assets/image/trainer/imageTeam.png">
            </div>
        </div>
    </div>
</div>