.page-container {
    max-width: 1304px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    color: #26272B;
    opacity: 0.75;
}

.caption {
    color: #0A90EF;
    font-weight: 500;
}

.body-tournament-data {
    display: flex;
    gap: 24px;
}

.team-detail-container {
    width: calc(100% - 324px);
    min-height: 772px;
    box-shadow: 0px 4px 12px rgba(38, 39, 43, 0.25);
    border-radius: 4px;
}

.team-detail {
    margin-top: 40px;
    margin-left: 48px;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.subtitle>p {
    color: rgba(38, 39, 43, 0.5);
}

.two-row {
    grid-column: 1 / 3;
    padding: 44px 0px;
}

.first-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.three-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.add-player {
    display: flex;
    grid-column: 2 / 2;
}

#add-player {
    font-weight: 500;
    font-size: 16px;
    color: #0A90EF;
}

.button-container {
    display: flex;
    justify-content: center;
}

.size-button {
    //align-items: center;
    border: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 5px;
    //margin-bottom: 10px;
    width: 32px !important;
    height: 32px !important;
}

.group-show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#imageInput {
    color: red;
    background-color: #0A90EF;
    padding: 15px;
}

div#div_img {
    position: relative;
    background-image: url('../../../../../assets/image/trainer/imageTeam.png');
    padding: 10px;
    width: 30px;
    height: 30px;
}

input#btn_img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}