<div class="page-container">
    <h1>Torneo: Champions league</h1>

    <p class="caption">Equipos de la categoria: Juvenil 1 - Femenil</p>

    <div class="body-tournament-data">
        <app-trainer-team-list></app-trainer-team-list>
        <div class="team-detail-container">
            <div class="team-detail">

                <div class="first-row">
                    <div class="subtitle">
                        <p>Informacion base del equipo</p>
                    </div>
                    <div class="first-grid">
                        <app-input-simple [nombre]="'Nombre del equipo'" [ejemplo]="'chivas'" (onChange)="onChangeNameTeam($event)"></app-input-simple>
                        <input type="file" accept="image/*" #imageInput src="../../../../../assets/image/trainer/imageTeam.png" #img (click)="obtenerImage(img.value)">                                                   
                    </div>
                </div>

                <div class="two-row">
                    <div class="subtitle">
                        <p>Únete y anota goles con el nuevo equipo estrella del torneo</p>
                    </div>
                    <div class="two-grid">
                        <app-input-simple [nombre]="'Nombre del jugador'" [value]="value" (onChange)="onChangeNamePlayer($event)"></app-input-simple>
                        <app-input-simple [nombre]="'Curp'"  [value]="value" (onChange)="onChangeCurp($event)" ></app-input-simple>
                        <app-input-number [nombre]="'Numero de jugador'" [ejemplo]="'1,2,3'"  maxlength="2" min="1" (onChange)="onChangeNumberPlayer($event)"></app-input-number>
                    </div>
                       
                </div>

                <div class="three-row">
                    <div class="add-player">
                        <p id="add-player">Agregar jugador</p>                        
                        <button class="size-button" (click)="AddPlayer()">
                            <img src="../../../../assets/image/admin/IconAdd.jpeg" alt="x"/>
                        </button>                        
                    </div>
                </div>
                
                <div class="group-show">                    
                    <app-group-show class="group" [items]="ArrayPlayers" (onChange)="DeletePlayer($event)"></app-group-show>                       
                </div>
                                
                <div class="button-container">
                    <div><app-button [clase]="'button fill'" [title]="'Registrar'" (onClick)="register()"></app-button></div>
                </div>
                 
            </div>
        </div>
    </div>
</div>