<div class="select-button-container">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{nombre}}</mat-label>
        <mat-select class="size-input-option-select" [(ngModel)]="selectedValue" name={{nombre}} #selectAu>
            <mat-option *ngFor="let item of items" [value]="item">
            {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <button class="size-button" (click)="Getitem(selectAu.value)">
        <img src="../../../../assets/image/admin/IconAdd.jpeg" alt="x"/>    
    </button>
</div>
