@media screen and (min-width:360px) and (max-width:809px) {
  .page {
      width:calc(100%);
      padding-top: 160px;
      overflow-y: auto;
  }
}

//ipad
@media screen and (min-width:810px) and (max-width:1304px) {
  .page {
      width:calc(100% - 48px);
      margin-left: 48px;
      padding-top: 80px;
      overflow-y: auto;
  }
}

//desktop
@media screen and (min-width:1304px) {
  .page {
    width: calc(100% - 80px);
    padding-top: 80px;
    margin-left: 80px;
  }
}
