.page-container{
    padding: 0px 64px;
    margin: 0 auto;
}

h2{
    color: #26272B;
    opacity: 0.75;

}

p{
    color: #26272BBF;
}


.page-content-container{
    display: flex;
    gap: 40px;
}

.save{
    width: 148px;
    height: 48px;

    font-size: 16px;
    background-color: #0A90EF;
    color: white;

    border-radius: 8px ;
    border: none;

    cursor: pointer;

}



@media screen and (min-width:360px) and (max-width:700px) {
    .body-build-tournament{
        width: calc(100% - 16px);
        overflow-x:scroll;
    }
    .team-list{
        width: 1304px;
    }
    .page-container{
        padding: 0px 8px;
        margin: 0 auto;
    }

}

//ipad
@media screen and (min-width:700px) and (max-width:1304px) {

    .body-build-tournament{
        width: calc(100% - 16px);
        overflow-x:scroll;
    }
    .team-list{
        width: 1304px;
    }
    .page-container{
        padding: 0px 8px;
        margin: 0 auto;
    }
}

//ipad
@media screen and (min-width:1304px) {

  .body-build-tournament{
      width: calc(100% - 16px);
      overflow-x:scroll;
  }
  .team-list{
      width: 1304px;
  }
  .page-container{
      padding: 0px 64px;
      margin: 0 auto;
  }
}
