<div class="page-container">
  <h2>Partidos de la categoria: Juvenil 1 - Femenil</h2>

  <div class="page-content-container">
    <p>Asignar equipos</p>
    <div class="save-change">
      <p>Datos asignados</p>
      <app-button [clase]="'button fill'" [title]="'Guardar'" (onClick)="sendTeam()" *ngIf="showButton"></app-button>
    </div>
  </div>

  <div class="body-build-tournament">
    <div class="team-list">
      <app-team-list [teamList]="data" (sendTeamList)="getList($event)" *ngIf="showButton"></app-team-list>

      <div class="rivals-container" *ngIf="teamToPlay?.top16">
        <div class="body-rivals">
          <div class="rivals" *ngFor="let item of teamToPlay?.top16?.matches">
            <img src="{{item[0].teamLogo}}">
            <p>VS</p>
            <img src="{{item[1].teamLogo}}">
        </div>
          <app-button class="button" [clase]="'fill button'" [title]="'Ver partidos'" (onClick)="watchMatches('top16')"></app-button>

        </div>
      </div>

      <div class="rivals-container" *ngIf="teamToPlay?.quarterFinal">
        <div class="body-rivals">
          <div class="rivals" *ngFor="let item of teamToPlay?.quarterFinal?.matches">
            <img src="{{item[0].teamLogo}}">
            <p>VS</p>
            <img src="{{item[1].teamLogo}}">
        </div>
          <app-button class="button" [clase]="'fill button'" [title]="'Ver partidos'" (onClick)="watchMatches('quarterFinal')"></app-button>

        </div>
      </div>

      <div class="rivals-container" *ngIf="teamToPlay?.semiFinal">
        <div class="body-rivals">
          <div class="rivals" *ngFor="let item of teamToPlay?.semiFinal?.matches">
            <img src="{{item[0].teamLogo}}">
            <p>VS</p>
            <img src="{{item[1].teamLogo}}">
        </div>
          <app-button class="button" [clase]="'fill button'" [title]="'Ver partidos'" (onClick)="watchMatches('semiFinal')"></app-button>

        </div>
      </div>

      <div class="rivals-container" *ngIf="teamToPlay?.final">
        <div class="body-rivals">
          <div class="rivals" *ngFor="let item of teamToPlay?.final?.matches">
            <img src="{{item[0].teamLogo}}">
            <p>VS</p>
            <img src="{{item[1].teamLogo}}">
        </div>
          <app-button class="button" [clase]="'fill button'" [title]="'Ver partidos'" (onClick)="watchMatches('final')"></app-button>

        </div>
      </div>
    </div>
  </div>
</div>
