<div class="list-container">
    <div class="team-list-container">
        <div cdkDropList class="card-position" id="teamList" [cdkDropListData]="teamList" [cdkDropListConnectedTo]="['teamsToPlay']" (cdkDropListDropped)="onDropped($event)">
            <app-card *ngFor="let item of teamList" [id]="item._id" [teamName]="item.name" [path]="item.teamLogo" cdkDrag></app-card>
        </div>
    </div>

    <div class="team-list-container">
        <div cdkDropList class="card-position" id="teamsToPlay" [cdkDropListData]="teamsToPlay" [cdkDropListConnectedTo]="['teamList']" (cdkDropListDropped)="onDropped($event)">
            <app-card *ngFor="let item of teamsToPlay; index as id;" [opponent]="getOpponent(id)" [teamName]="item.name" [path]="item.teamLogo" cdkDrag></app-card>
        </div>
    </div>

</div>