<div class="grid">
  <section class="basic one">
    <h2>Informacion base</h2>

    <h3>{{ data?.name }}</h3>
    <h3>Categoría:</h3>
    <ul>
      <!-- li ngFor="let item of data.category"-->
      <li>
        {{data?.category}}
      </li>
    </ul>
    <h3>Torneo por {{ data?.type }}</h3>
  </section>

  <section class="basic two">
    <h2>Información sobre su realización</h2>
    <h3>Lugares disponibles:</h3>
    <ul>
      <li *ngFor="let item of data?.places_detail">
        {{item.name}}
      </li>
    </ul>

    <h3>Periodo de juegos: {{ data?.dates }}</h3>
    <h3>Horario base: {{ data?.time }}</h3>
  </section>

  <section class="basic three">

    <h2>Organizado por</h2>
    <div class="orgContainer">
      <div class="column" *ngIf="data?.admin_detail?.length">
        <h3>Administradores</h3>

        <ul>
          <li *ngFor="let item of data?.admin_detail">
            {{item.name}} {{item.apellido1}}
          </li>
        </ul>
      </div>
      <div class="column" *ngIf="data?.referee_detail?.length">
        <h3>Arbitros</h3>

        <ul>
          <li *ngFor="let item of data?.referee_detail">
            {{item.name}} {{item.apellido1}}
          </li>
        </ul>
      </div>
      <div class="column" *ngIf="data?.coach_detail?.length">
        <h3>Entrenadores</h3>

        <ul>
          <li *ngFor="let item of data?.coach_detail">
            {{item.name}} {{item.apellido1}}
          </li>
        </ul>
      </div>
    </div>

  </section>

  <section class="basic four">
    <h2>Partidos...</h2>

    <mat-chip-list class="chip-list" aria-label="Fish selection">
      <app-chip (onClick)="goto($event)" [class]="item.status" [texto]="item.name_category +' - '+item.name_branch"
        [id]="item.id_chip" *ngFor="let item of data?.chips">></app-chip>
    </mat-chip-list>

    <div class="boton" *ngIf="status=='in-process'">
      <app-button [clase]="clase" [disable]="estado" [title]="'Iniciar Torneo'" (onClick)="activeTournament()"></app-button>
    </div>
  </section>

</div>
