.grid {
  max-width: 1304px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.one {
  grid-column: 1 / 1;
}
.two {
  grid-column: 2 / 4;
}
.three {
  grid-column: 1 / 4;
}
.four {
  grid-column: 1 / 4;
}

.basic {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(38, 39, 43, 0.25);
  border-radius: 4px;
}

//contenedor de las 3 columnas de organizadores
.orgContainer {
  display: flex;
  justify-content: center;
}

.column {
  display: block;
  width: calc(100% / 3);
  margin-right: 10px;
}

//elementos individuales
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: inline;

  /* Dark_Gray */
  color: rgba(38, 39, 43, 0.75);
}
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0a90ef;
}
h3 {
  /* margin: 20px; */
  color: rgba(38, 39, 43, 0.5);
}
ul{
  padding-left: 20px;
}
li {
  
  margin-bottom: 10px;
  color: rgba(38, 39, 43, 0.5);
}

.boton{
  margin-top: 16px;
  display: flex;
  justify-content: center;

  :only-child{
    max-width: 160px;
    width: 100%;
  }
}

//Smartphones
@media screen and (min-width:360px) and (max-width:428px){

  .one {
    grid-column: 1 / 4;
  }
  .two {
    grid-column: 1 / 4;
  }
  .three {
    grid-column: 1 / 4;
  }
  .four {
    grid-column: 1 / 4;
  }
  .orgContainer {
    flex-direction: column;
  }
}

//ipad
@media screen and (min-width:810px) and (max-width:1304px){
  
}

//desktop
@media screen and (min-width:1304px){

}
