h1 {
    font-weight: 700;
    color: rgba(38, 39, 43, 0.75);
}

p, .subtitle{
    font-weight: 500;
    font-size: 20px;
    color: rgba(38, 39, 43, 0.5);
}

.page-container {
    max-width: 1304px;
    margin:0 auto;
    padding: 60px 0px;
    width:100%;
}

.content-container {
    padding: 0px 48px;
    width: calc(100% - 96px);
}

.grid-container {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 124px;
    width:100%
}

.first-child-three-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 124px;
}

.grid-two-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 124px;
}

.four-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 124px;
}

.first-row-grid {
    grid-column: 1 / 4;
}

.two-row-grid {
    grid-column: 1 / 4;
}

.three-row-grid {
    grid-column: 1 / 4;
}

.four-row-grid {
    grid-column: 1 / 4;
}

.button-container{
    max-width:1304px;
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: flex-end;
    padding-top: 81px;
}