<div class="page-container">
    <h1>Arma tu torneo</h1>
    <div class="content-container">

        <div class="grid-container">
            <div class="first-row-grid">
                <p>Conócelo como...</p>
                <app-input-simple [nombre]="'Nombre del Torneo'" [ejemplo]="'Ej.champions'" [value]="nombreSend" (onChange)="onChangeNameTournament($event)"></app-input-simple>
            </div>

            <div class="two-row-grid">
                <p>Dirigido para</p>
                <div class="grid-two-row">
                    <app-select-simple [nombre]="'Categoria'" [items]="itemsCategory" [valuenum]="categoriSend" (onChange)="onChangeCategori($event)"></app-select-simple>
                    <app-select-multiple [nombre]="'Rama'" [items]="itemsbranch" (onChange)="getGenders($event)"></app-select-multiple>
                    <app-select-simple [nombre]="'Tipo de Torneo'" [items]="itemstype" [valuenum]="typeSend" (onChange)="onChangetypetournament($event)"></app-select-simple>
                </div>
            </div>

            <div class="three-row-grid">
                <p>Realización en</p>
                <app-select-simple [nombre]="'Ciudad'" [items]="itemscyty" [valuenum]="citySend" (onChange)="onChangecity($event)"></app-select-simple>
                <div class="first-child-three-row">
                    <app-select-simple [nombre]="'Lugares'" [items]="itemsplace" [valuenum]="placeSend" (onChange)="onChangeplace($event)"></app-select-simple>
                    <app-date-range [nombre]="'Fechas'" [value]="'hola'" (onChange)="onChangeDate($event)"></app-date-range>
                    <app-input-simple [nombre]="'Horario'" [ejemplo]="'9:20 - 3:30'" [value]="timeSend" (onChange)="onChangeTime($event)"></app-input-simple>
                </div>
            </div>

            <div class="four-row-grid">
                <p>Interventores</p>
                <div class="four-row">
                    <div>
                        <app-select-button [nombre]="'Administradores'" [items]="itemsAdmin" (onChange)="onChangeAdmin($event)">"</app-select-button>
                        <app-group-show class="group" [items]="admins" (onChange)="DeleteAdmin($event)"></app-group-show>
                    </div>
                    <div>
                        <app-select-button [nombre]="'Arbitros'" [items]="itemsreferee" (onChange)="onChangeArbiter($event)"></app-select-button>
                        <app-group-show class="group" [items]="arbiters" (onChange)="DeleteArbiter($event)"></app-group-show>
                    </div>
                    <div>
                        <app-select-button [nombre]="'Entrenadores'" [items]="itemsTrainers" (onChange)="onChangeCoach($event)"></app-select-button>
                        <app-group-show class="group" [items]="coachs" (onChange)="DeleteCoach($event)"></app-group-show>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-buttons">
            <div class="control-buttons">
                <app-button [clase]="'button outline'"  [title]="'Cancel'" (onClick)="Cancel()"></app-button>                   
                    <span style="margin-left: 11px;"></span>                                                                    
                <app-button  [clase]="'button fill'"    [title]="'Crear'" (onClick)="CrearTou()"></app-button>
            </div>                    
        </div>                     
        
    </div>
</div>