<router-outlet></router-outlet>
<!--
<app-button [clase]="'button fill'" [title]="'Iniciar Torneo'"></app-button>
<app-button [clase]="'button fill disable'" [title]="'Iniciar Torneo'"></app-button>
<app-button [clase]="'button outline'" [title]="'Iniciar Torneo'"></app-button>
<app-button [clase]="'button outline disable'" [title]="'Iniciar Torneos'"></app-button>

<mat-chip-list class="chip-list" aria-label="Fish selection">
  <app-chip [class]="'true'" [texto]="'Item 1'" [id]="1"></app-chip>
  <app-chip [class]="'false'" [texto]="'Item 2 muy largo para ver que show con el diseño'" [id]="2"></app-chip>
</mat-chip-list>

localhost:4200/admin/tournament/detail/1/status/1
-->
