<router-outlet></router-outlet>
<!--<app-button [clase]="'button fill'" [title]="'Iniciar Torneo'" (onClick)="click($event)"></app-button>
<app-button [clase]="'button fill'" [disable]="true" [title]="'Iniciar Torneo'" (onClick)="click($event)"></app-button>
<app-button [clase]="'button outline'" [title]="'Iniciar Torneo'" (onClick)="click($event)"></app-button>
<app-button [clase]="'button outline'" [disable]="true" [title]="'Iniciar Torneos'" (onClick)="click($event)"></app-button>

<mat-chip-list class="chip-list" aria-label="Fish selection">
  <app-chip [class]="'true'" [texto]="'Item 1'" [id]="'1'"></app-chip>
  <app-chip [class]="'false'" [texto]="'Item 2 muy largo para ver que show con el diseño'" [id]="'2'"></app-chip>
</mat-chip-list>-->
