<mat-grid-list cols="1" rowHeight="40px">
    <mat-grid-tile *ngFor="let item of items">
        <div class="size-show">
            <ul>
                <li>                    
                   <!-- <p>{{item.name}}</p>  --> 
                    <input class="textstyle" type="text" value="{{item}}" #nombreAu readonly>
                    <button class="order-button-delete" aria-label="Example icon button with a delete icon" (click)="DeleteAd(nombreAu.value)">
                        <!-- <mat-icon class="size-icon">clear</mat-icon> -->                        
                        <img style="width:15px; height: 15px;" src="../../../../assets/IconDelete.jpg" alt="x"/>    
                    </button>
                </li>
            </ul>
        </div>
    </mat-grid-tile>
</mat-grid-list>
