.page-container{
    max-width:1304px;
    width:100%;
    padding: 8px;
    margin: 0 auto;
}
.header-container > h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: rgba(38, 39, 43, 0.75);
  padding-bottom: 40px;
}
.phase-container{
  margin-bottom: 80px;
}
.phase-container > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #0A90EF;
    padding-bottom: 24px;
}

.match-container{
    width: calc(100% - 16px);
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(38, 39, 43, 0.25);
    border-radius: 4px;

    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;

    :last-child{
        padding-bottom: 0px;
    }

}

.rivals{

    display: flex;
    align-items: center;
    gap: 51px;
    margin-bottom: 40px;
}

.rivals:hover{
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width:700px) {
    .rivals{
        width: 100%;
        flex-direction: column;
        padding-bottom: 60px;
        gap: 10px;
    }

    .rivals > p{
        margin:0px;
    }

    .header-container, .match-container{
        width: 100%;
    }

    .page-container{
        width: calc(100% - 16px);
    }
}
