<div class="page-container">
    <div class="header-container">
        <h1>Historial de partidos: {{history?.name}}</h1>
    </div>
    <div class="phase-container" *ngFor="let phase of history?.phases">
      <h2>{{phase.name}}</h2>

      <div class="match-container">
        <div class="rivals" *ngFor="let match of phase.matchList" (click)="goto(match._id, phase._id)">
            <app-card [teamName]="match.team1.name" [path]="match.team1.teamLogo"></app-card>
            <p>VS</p>
            <app-card [teamName]="match.team2.name" [path]="match.team1.teamLogo"></app-card>
        </div>
    </div>
    </div>


</div>
