<div class="page-container">
    <div class="header-container">
        <h1>Torneos</h1>

        <div class="select-container">

            <app-input-simple [nombre]="'Buscar Torneo'" [ejemplo]="'Champions League'"></app-input-simple>

            <div class="select-filter">
                <app-select-simple [nombre]="'Filtrar Por'"></app-select-simple>
                <app-select-simple [nombre]="'Ordenar Por'"></app-select-simple>
            </div>

    </div>
    </div>

    <div class="team-table-container">
        <app-tournament-table-row class="team-table" *ngFor="let element of dataSource" [id]="element.id" [name]="element.name" [type]="element.type" [category]="element.category" [place]="element.place" [date]="element.date" [status]="element.status"> </app-tournament-table-row>
    </div>
</div>

  