.active{
  color: #FFFFFF;
  background: #0A90EF;
  border-radius: 20px;

  cursor: pointer;
}

.pending{
  color: #26272B;
  background: rgba(38, 39, 43, 0.25);
  border-radius: 20px;

  cursor: pointer;
}
