<div align="center" mat-dialog-content>
    <h4 mat-dialog-title style="color: rgba(38, 39, 43, 0.5);">Los Cambios aplicados se perderan,</h4>
</div>
<div align="center" mat-dialog-content>
    <h3 style="color: rgba(38, 39, 43, 0.5);">¿Deseas Continuar?</h3>
</div>
<div align="center" mat-dialog-action>
    <button class="format-button-cancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="format-button-continue" mat-button [mat-dialog-close]="true" cdkFocusInitial>Continuar</button>
    <!-- <button class="format-button-continue" mat-button (click)="Aceptar()">Continuar</button> -->
</div>