.format-button-cancel {
    background-color: #FFFFFF;
    border: 1px solid #0A90EF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 160px !important;
    height: 48px !important;
    color: #0A90EF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

.format-button-continue {
    border: transparent;
    width: 160px !important;
    height: 48px !important;
    left: 20px;
    /* Primary_Blue */
    background: #0A90EF;
    border-radius: 8px;
    /* Common_White */
    //para el texto 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}