.format-button-cancel {

    width: 160px !important;
    height: 48px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #0A90EF;

    background-color: #FFFFFF;

    border: 1px solid #0A90EF;
    box-sizing: border-box;
    border-radius: 8px;

}

.format-button-continue {
    border: transparent;
    width: 160px !important;
    height: 48px !important;
    margin-left: 20px !important;
    /* Primary_Blue */
    background: #0A90EF;
    border-radius: 8px;
    /* Common_White */
    //para el texto 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

.modal-content-container{
    padding: 20px 0px;
}

.format-button-cancel, .format-button-continue{
    cursor: pointer;
}